.showcase{
	background:url("../../img/red.jpeg");
	background-size:cover;
	background-position: center;
	h1{
		font-size: 90px;
		margin: 0px;
	}
	p{
		font-size: 18px;
		font-weight: 700;
	}
	.overlay{
		background: #020202a1;
	}
}


nav.b-nav{
	margin: 15px 0px;
	.box-1 {
    text-align: center;
}
.box-2 {
	flex: 3;
}
	.navbar-brand {
		width: 100%;
		margin: 0px 11px;
}
	.navbar-brand img {
		width: 150px;
		margin-bottom: 10px;
}
p{
	font-size:11px;
	font-weight:700;
}
}

.nav-li a {
	border-bottom: 3px solid #333;
	padding-bottom: 4px;
	font-weight: 700;
	color:#333;
	&:hover{
		color:#1e0fbe;
		border-bottom: 3px solid #1e0fbe;
		text-decoration: none;
	}
	p{
		font-size:12px;
	}
}
